:root {
--contact-text-color: #757575;
--header-hover-color: #2196F3;
--first-background-color: #2F303A;
--second-background-color: #F5F4FA;
--third-background-color: #ffffff;
--logo-text-color: #000000;
--hero-btn-hover-background-color: #188CE8;
--title-color:#212121;
--text-color: #757575;
--footer-address-color: rgba(255, 255, 255, 0.6);

}

body {
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
    font-size: 14px;
    background-color: var(--third-background-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/*-------------HEADER--------*/

.header-logo {
text-decoration: none;
font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--logo-text-color);
}

.header-logo-first-word {
    color: var(--header-hover-color);
}

.activ-studio,
.activ-portfolio {
    color: var(--header-hover-color);
}

.header-link {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-color);
}

.header-link:hover,
.header-link:focus {
color: var(--header-hover-color);
}

.header-tel {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color-contact);
}

.header-mail {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color-contact);
}

.header-tel:hover,
.header-tel:focus,
.header-mail:hover,
.header-mail:focus {
    color: var(--header-hover-color);
}

/*-------------HERO--------*/

.hero {
    background-color: var(--first-background-color);
}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--third-background-color);;
}

.hero-btn {
    font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
background: var(--header-hover-color);
color: var(--third-background-color);;
cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hero-btn-hover-background-color);
    color: var(--third-background-color);
}

/*-------------quality--------*/

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.quality-title {
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-color);
}

.quality-text {
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text-color);
}

/*-------------about--------*/

.about-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
}

/*-------------team--------*/

.team {
    background-color: var(--second-background-color);
}

.team-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
}

.team-subtitle{
    font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
}

.team-desc {
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-color);
}

/*-------------footer--------*/

.footer {
    background-color: var(--first-background-color)
}

.footer-logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--third-background-color);
    }
    
.footer-logo-first-word {
    color: var(--header-hover-color);
}

.footer-address-maps {
    font-style: normal; 
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--third-background-color);;
}

.footer-address-mail,
.footer-address-tel {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-address-color);
}

.footer-address-maps:hover,
.footer-address-maps:focus,
.footer-address-tel:hover,
.footer-address-tel:focus,
.footer-address-mail:hover,
.footer-address-mail:focus {
    color: var(--header-hover-color);
}

/*-------------Portfolio--------*/
/*-------------Portfolio header--------*/

.services {
    background-color: var(--third-background-color);
}

.services-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
background: var(--second-background-color);
color: var(--title-color);
cursor: pointer;
}

.activ-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
background: var(--header-hover-color);
color: var(--third-background-color);
cursor: pointer;
}

.services-btn:hover,
.services-btn:focus {
    background-color:var(--header-hover-color);
    color: var(--third-background-color);
}

.example-title {
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-color);
}

.example-desc {
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--text-color);
}